@import "src/assets/framework/_breakpoints";
.title{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #141311;
  margin-bottom: 20px;
}
.header{
  span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #B7B4AE;
  }

}
.flex{
  @include mobile{
    display: none;
  }
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: font-2;
  justify-content: space-between;
  div{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #696864;
  }
  .clear{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}