@import "src/assets/framework/_breakpoints";
.action{
  background:   linear-gradient(180deg, #EAE8E4 0%, rgba(245, 243, 238, 0) 200%);
  width: 100%;
  overflow: hidden;
  .content{
    max-width: 1140px;
    margin: 0 auto;
  }
  h2{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #141311;
    margin: 0;
    padding: 40px 15px;
  }
}
@include mobile{
  .action{
    h2{

      padding: 40px 24px;
    }
  }
}
@include tablets{
  .action{
    h2{
      padding:  40px 0 0 0;
      max-width: 1140px;
      margin: 0 auto;
      font-family: font-1;
      font-size: 38px;
    }
  }
}