@import "src/assets/base/_variables";
@import "src/assets/framework/_breakpoints";
.favourite{
 cursor: pointer;

}

.favourite2{
 cursor: pointer;
  display: none;
}
.leftSideTitle{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7B7976;
  margin-top: 40px;
  @media (max-width: 720px) {
    margin-top: 20px;
  }
}
.activeFavourite{

  display: flex !important;
  justify-content: center;
  align-items: center;
}
.icon{
  transition: all 0.3s;
    &:hover{
      transition: all 0.3s;
      g{
        path{
          fill: #D74E8F;
        }
      }
    }
}


@include tablets{
  .leftSide{
    max-width: 980px !important ;
    height: 62vh !important;
  }
  .menu{
    height: 70vh !important;
  }
}
@include mobile{
  .content{
    padding: 0 10px;
  }
  .flex3{
    a{
      &:hover{
        color: #F2BD6E;
        transition: all 0.3s;
      }
    }
    transition: all 0.3s;
    display: flex !important;
    flex-direction: column;
    min-width: 150px;
    justify-content: space-between;
    max-height: 150px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #7B7976;
    @media (max-width: 1000px){
      div{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
      }
    }
  }
  .menu{
    background: $background !important;
    max-height: 70vh !important;
  }
  .flex{
    display: none !important;
  }
  .content{
    padding-top: 40px;
    flex-direction: row !important;
    align-items: unset !important;

  }
  .flex2{
    display: flex !important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #7B7976;
    flex-direction: column;
    width: 150px;
    height: 100px;
    justify-content: space-between;
    padding-top: 10px;
  }
  .leftSide{

    max-height: 62vh !important;
    flex-wrap: wrap;
    justify-content: unset !important;
    flex-direction: row !important;
    padding: 0 10px 20px 24px !important;
  }
}
.menuItems{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row !important;
  @media (max-width: 720px) {
    align-items: center;
    width: 100% !important;
    max-width: 100% !important;
  }
}
.menuItems2{
  width: 100%;
  display: flex;
  padding-right: 10px;
  gap: 20px;
  flex-direction: column !important;
  @media (max-width: 720px) {
    a{
      width: 100% !important;
      max-width: 100% !important;
    }
    align-items: center;
  }
}
.leftSideFlex{
  display: flex;
  justify-content: unset !important;
  flex-direction: column!important;
}
.flex2{
  display: none;
}
.button_flex{
  @include mobile{
    display: none;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  width: 100%;
  padding: 0 15px;
  .button{
    margin-bottom: 0;
    align-self: center;
  }
}
.menu{
  width: 100vw;
  height: 76vh;
  background: white;
  .content{
    max-height: 100%;
    .grid{
      display: flex;
      justify-content: space-between !important;
      width: 100%;
      align-items: flex-start;
      @media (max-width: 1000px) {
        div{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    max-width: 1140px;
    margin: 0 auto;
    .flex{

      div{

        height: 50px;

      }
      div:not(:last-child){
        display: flex;
        justify-content: center;
        align-items: center;
      }

      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      width: 100%;



      padding: 7px 24px 30px 24px;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;

      color: #7B7976;
      font-family: font-2;

    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 20px;
    .leftSide{
      font-family: font-2;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #7B7976;
      max-height: 52vh;
      overflow-y: scroll;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 50px 15px 15px 15px;

      row-gap: 20px;
      column-gap: 20px;
    }
  }
}
.button{

  width: 120px;
  max-width: 120px;
  max-height: 40px;
  margin-bottom: 40px;
  align-self: flex-end;
  height: 40px;
  box-sizing: border-box;
  border-radius: 30px;
  background: #141311;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: font-2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.cont{
  align-self: flex-start;
}
.favourite{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  &:hover{
    transition: all 0.3s;
    g{
      path{
        fill: #D74E8F;
      }
    }
  }
}
.grid2{
  .icons{
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    p{
      margin: 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-transform: lowercase;
      width: 100%;
      color: #7B7976;
    }
    span{
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #141311;
      font-family: font-3;
    }
  }
}
.flex3{
  display: none;
}

