@import 'src/assets/base/_variables';
@import 'src/assets/framework/_breakpoints';
.filterMobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: absolute;
  top: -20px;
  left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B7B4AE;
  .sort{
    padding-top: 8px;
    margin-right: 10px;
  }
}
.catalog{
  width: 100%;
  background: $background;
  z-index: 3;
  position: relative;
  .content{

    .catalog_flex{
      display: flex;flex-direction: row;
      flex-wrap: wrap;justify-content: center;
      row-gap: 20px;
      column-gap: 20px;
    }
    .filter{
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media (max-width: 720px) {
        padding-top: 40px;
      }
      margin-bottom: 20px;
    }
    h2{
      margin-bottom: 40px;
      margin-top: 0;
    }
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 80px 15px 60px 15px;
    @media (max-width: 720px) {
      padding: 80px 15px 60px 15px;
    }
  }

}
.slide{
  overflow: unset !important;
  width: unset !important;
}
@include tablets{
  .catalog_flex{
    justify-content: space-between !important;
  }
 .content{
   padding: 40px 0 60px 0 !important;
 }
}
@include mobile{
  .catalog_flex{
    justify-content: space-between !important;
  }
  .content{
    padding: 32px 24px 76px 24px ;
  }
}
.catalog_flex2{
  display: flex;
  flex-direction: row;
}