@import 'src/assets/framework/_breakpoints';
.button{
  background: #FFC46B;
  border-radius: 30px;
  width: 166px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: 0;
  outline: none;
  text-decoration: none;
  font-family: font-3;
  line-height: 19px;
  color: #141311;
  position: absolute;
  top: -20px;
  right: 27%;
}
